.bar {
	height: 30px;
	margin: 2px;
	text-align: right;	
	color : white;
}

.rounded_bar{
	height: 30px;
	margin: 2px;
	padding: 5px;
	text-align: center;	
	color : white;
	border-radius: 20px;	
}
p{
	font-size: 20px; 
	display: inline-block;
}

button {
	font-size: 15px; 
	margin: 15px;
	height: 30px;
	width: 100px;
	border-radius: 10px;
}

.subject {
	display: inline-block;
	width: 100px;
	margin: 5px;
	text-align: center;	
	color : white;
	border-radius: 20px;
}