.bar {
	height: 30px;
	margin: 2px;
	text-align: right;	
	color : white;
}

/*.left {
	width: 49%;
	height: 200px;
	position: absolute;
	border: 1px solid black;
	float: left;
	overflow: hidden;
}


.right {
	width: 49%;
	height: 400px;
	float: right;
	border: 1px solid black;
}*/